.list {
  background-color: #77ab59;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  border-radius: 8px;
  padding: 1rem;
  overflow: auto;
  flex-direction: column;
}
.paging {
  display: flex;
  justify-content: center;
}
.paging p {
  padding: 10px;
}
.paging p:hover {
  cursor: pointer;
}
